@media screen and (max-width: 600px) {
    .description .table {
        height: 233px;
    }
    .description .button {
        border-radius: 2px;
        font-size: 10px;
        padding: 5px;
        width: auto;
        margin: 5px;
    }
    .description .bet input{
        width: 35px;
        border-radius: 3px;
    }
}

@media screen and (max-width: 800px) {
    .description .card11{
        left: 29%;
        top: 62%;
        height: 54px;
        width: 36px;
    }
    .description .card12{
        left: 30%;
        top: 62%;
        height: 54px;
        width: 36px;
    }
    .description .card13{
        left: 31%;
        top: 62%;
        height: 54px;
        width: 36px;
    }
    .description .card21{
        left: 46%;
        top: 66%;
        height: 54px;
        width: 36px;
    }
    .description .card22{
        left: 47%;
        top: 66%;
        height: 54px;
        width: 36px;
    }
    .description .card23{
        left: 48%;
        top: 66%;
        height: 54px;
        width: 36px;
    }
    .description .card31{
        left: 64%;
        top: 62%;
        height: 54px;
        width: 36px;
    }
    .description .card32{
        left: 65%;
        top: 62%;
        height: 54px;
        width: 36px;
    }
    .description .card33{
        left: 66%;
        top: 62%;
        height: 54px;
        width: 36px;
    }
    .description .cardNumber {
        font-size: 12px;
    }
    .description .cardNumberDown {
        font-size: 12px;
    }
    .description .cardSuit .spades {
        height: 20px;
    }
    .description .cardSuit .clubs{
        height: 20px;
    }
    .description .cardSuit .hearts{
        height: 20px;
    }
    .description .cardSuit .diamonds{
        height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .description .table {
        height: 150px;
    }
    .description .card11{
        left: 28%;
        top: 56%;
        height: 54px;
        width: 36px;
    }
    .description .card21{
        left: 45%;
        top: 60%;
        height: 54px;
        width: 36px;
    }
    .description .card31{
        left: 62%;
        top: 56%;
        height: 54px;
        width: 36px;
    }
    .description .cardNumber {
        font-size: 12px;
    }
    .description .cardNumberDown {
        font-size: 12px;
    }
    .description .cardSuit .spades {
        height: 20px;
    }
    .description .cardSuit .clubs{
        height: 20px;
    }
    .description .cardSuit .hearts{
        height: 20px;
    }
    .description .cardSuit .diamonds{
        height: 20px;
    }
}
@media screen and (max-width: 330px) {
    .description .card11{
        left: 28%;
        top: 66%;
    }
    .description .card12{
        left: 28%;
        top: 66%;
    }
    .description .card13{
        left: 28%;
        top: 66%;
    }
    .description .card21{
        left: 45%;
        top: 69%;
    }
    .description .card22{
        left: 45%;
        top: 69%;
    }
    .description .card23{
        left: 45%;
        top: 69%;
    }
    .description .card31{
        left: 62%;
        top: 66%;
    }
    .description .card32{
        left: 62%;
        top: 66%;
    }
    .description .card33{
        left: 62%;
        top: 66%;
    }
}

.table{
    height: 461px;
    background: url(../image/blackjack_table_dark.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.points{
    text-align: center;
    font-size: 12px;
    padding-top: 7px;
}

.bets{
    display: flex;
    justify-content: space-between;
    z-index: 3;
    width: 76%;
    padding-left: 6%;
    padding-right: 6%;
    margin: auto;
}
.bet{
    display: flex;
    justify-content: space-between;
}
.bet input{
    width: 45px;
    border-radius: 5px;
}
.betForm{
    margin-top: 10px;
    width: 100%;
}
.error{
    margin-top: 5px;
    text-align: center;
    color: #ff0b0b;
    font-weight: 500;
}
.submit{
    width: 70%;
    margin: auto;
    text-align: center;
}
.noMoney{
    width: 100%;
    text-align: center;
}
.noMoney a{
    text-decoration: none;
}

.gameButtons{
    width: 100%;
}
.insuranceButtons{
    width: 76%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.actionButtonsRow{
    width: 76%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.actionButtons{
    display: flex;
    justify-content: space-between;
    width: 165px;
}
.balanceRow{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.balanceVal{
    color: #f2f2f2;
    font-size: 14px;
    padding: 5px;
    width: 20%;
    text-align: center;
}
.newGameRow{

}

.gameButton {
    border-radius: 4px;
    background-color: #009f6d;
    border: none;
    color: #F2F2F2;
    text-align: center;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.gameButton:active {
    background-color: #04533d;
}
.gameButton:hover{
    background-color: #04533d;
}
